﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/app.js"></script>
    <title>Encode Toy</title>
</head>
<body onload="populateEncoders()">
    <h1>Encode toy</h1>
    <select id="encoders"></select>
    <table>
        <tr>
            <td width="40%"><strong>Source text:</strong></td>
            <td width="40%"><strong>Result</strong></td>
        </tr>
        <tr>
            <td><textarea id="source" cols="40" rows="10"></textarea></td>
            <td><div id="result"></div></td>
        </tr>
    </table>

    <button onclick="encodeText(getEncoder(), getSource())">Encode</button> <button onclick="decodeText(getEncoder(), getSource())">Decode</button>
</body>
</html>
